# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Secrets / API keys
.env
secrets.py
config.py

# Build artifacts
dist/
build/
*.egg-info/

# Logs
*.log
my_project/Resources/vosk-model-en-us-0.22/ 
